<% if ((success && success.length) || error && error.length) { %>

<div class="main-div" id="flash-div">
  <% if (success && success.length) { %>
  <div class="msg">
    <div class="flash-success flash-msg">
      <i class="fa-regular fa-circle-check" style="color: green"></i><%= success
      %>
    </div>
    <i class="fa-solid fa-xmark flash-close"></i>
  </div>
  <% } %> <% if (error && error.length) { %>
  <div class="msg">
    <div class="flash-error flash-msg">
      <i
        class="fa-solid fa-triangle-exclamation"
        style="color: rgba(175, 13, 13, 0.836)"
      ></i
      ><%= error %>
    </div>
    <i class="fa-solid fa-xmark flash-close"></i>
  </div>
  <% } %>
</div>

<% }%>
