<% layout("./boilerplate/boilerplate.ejs") %>

<!-- <a href="/listings/new"><button>Create New Listing</button></a> -->
<% for(listing of allListings) {%>
<a href="/listings/<%= listing._id %>">
  <div class="card">
    <img src="<%= listing.image %>" alt="<%= listing.title %>" />
    <p><%= listing.title %></p>
  </div>
</a>
<% } %>
