<% layout("./boilerplate/boilerplate.ejs") %>
<div class="form-container">
  <form action="/listings" method="POST" id="listingForm" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        name="listing[title]"
        placeholder="Enter Your Listing Title"
        id="title"
      />
      <div class="error" id="titleError"></div>
      <div class="success" id="titleSuccess"></div>
    </div>
    <br />
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        name="listing[description]"
        placeholder="Enter Your Description Here"
        rows="5"
        cols="20"
        id="description"
      ></textarea>
      <div class="error" id="descriptionError"></div>
      <div class="success" id="descriptionSuccess"></div>
    </div>
    <br />
    <div class="form-group">
      <label for="image">Upload Image:</label
      ><input
        type="file"
        name="listing[image]"
        id="image"
        required
      />
      <div class="success" id="imageSuccess"></div>
      <div class="error" id="imageError"></div>
    </div>
    <br />

    <div class="form-group">
      <label for="price">Price:</label>
      <input
        type="number"
        name="listing[price]"
        placeholder="Enter Your listing Price Here (e.g. 26000)"
        id="price"
      />
      <div class="error" id="priceError"></div>
      <div class="success" id="priceSuccess"></div>
    </div>
    <br />
    <div class="form-group">
      <label for="location">Location</label>
      <input
        type="text"
        name="listing[location]"
        placeholder="Enter Your location"
        id="location"
      />
      <div class="error" id="locationError"></div>
      <div class="success" id="locationSuccess"></div>
    </div>
    <br />
    <div class="form-group">
      <label for="country">Country:</label>
      <input
        type="text"
        name="listing[country]"
        placeholder="Enter Your Country here"
        id="country"
      />
      <div class="error" id="countryError"></div>
      <div class="success" id="countrySuccess"></div>
    </div>
    <input type="submit" value="submit" class="btn" />
  </form>
</div>
